/*@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Open+Sans:ital,wght@0,400;1,300&family=Roboto&display=swap');

*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    user-select: none;
    overflow: hidden;
}

#secondbtnes{
    position: relative;
    background-color: rgb(32, 32, 32);
    display: none;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: calc(50vh-20px);
    
}

#secondbtnes:hover{
    background-color: rgb(51, 51, 51);
}

.secondcalculadora2{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border: solid 1px black;
    overflow: hidden;
    display: none;
}

.secondimg1{
    position: relative;
    z-index: 1;
    left: 12px;
    top: 2px;
    height: 31px;
}


.secondtitulo{
    position: relative;
    left: 48px;
    top: -27px;
    color: white;
    font-size: 12px;
}

.secondbtn-{
    position: relative;
    left: 181px;
    top: -62px;
    width: 47px;
    height: 34px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: 100;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.secondbtn-:hover{
    background-color: rgb(51, 51, 51);
}

.secondbtnq{
    position: relative;
    left: 177px;
    top: -60px;
    width: 47px;
    height: 34px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: 100;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.secondbtnq:hover{
    background-color: rgb(51, 51, 51);
}

.secondbtnx{
    position: relative;
    left: 173px;
    top: -60px;
    width: 47px;
    height: 34px;
    border-radius: 0px 9px 0px 0px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: 100;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.secondbtnx:hover{
    background-color: rgb(194, 22, 22);
}

.secondtitulo2{
    position: relative;
    color: white;
    left: -125px;
    top: 0vh;
    font-size: 19px;
    height: 20px;
    background-color: rgb(32, 32, 32);
    font-weight: 900;
}

#secondinput1{
    position: relative;
    top: 4vh;
    right: 26vw;
    width: 64vw;
    height: 14px;
    background-color: rgb(32, 32, 32);
    color: rgb(163, 163, 163);
    font-size: 13px;
    border: none;
    user-select: none;
    outline: none;
    padding-top: 3px;
    text-align: right;

}

#secondinput2{
    position: relative;
    top: 5vh;
    left: 10vw;
    width: 64vw;
    height: 55px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 45px;
    border: none;
    user-select: none;
    outline: none;
    text-align: right;
    font-weight: 800;
}

.secondallbtns{
    position: relative;
    left: 0px;
    height: 70vh;
    width: 75vw;
    top: 8.5vh;
    bottom: 0px;
    background-color: rgb(32, 32, 32);
}

.secondbtnrow{
    position: relative;
    left: 0.66vh;
    width: 75vw;
    height: 12vh;
    background-color: rgb(32, 32, 32);
    margin-top: 1.2vh;
}

.secondbtn, .secondbtnop, #secondcalc{
    position: relative;
    height: 100%;
    width: calc(18.75vw - 1.44vh);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-right: 0.66vh;
    border-radius: 7px;
    
}

.secondbtn, .secondbtnop{
    color: white;
}

.secondbtn{
    background-color: rgb(51, 51, 51);
}

.secondbtn:hover{
    background-color: rgb(41, 41, 41);
}

.secondbtnop{
    background-color: rgb(41, 41, 41);
}

.secondbtnop:hover{
    background-color: rgb(51, 51, 51);
}

#secondcalc{
    font-size: 25px;
    color: rgb(32, 32, 32);
    background-color: rgb(88, 88, 88);
}

#secondcalc:hover{
    background-color: rgb(70, 70, 70);
}

#secondhistorico{
    position: absolute;
    width: 25vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(24, 24, 24);
    border: none;
    overflow: hidden;
}

#secondinp1, #secondinp2, #secondinp3, #secondinp4, #secondinp5, #secondinp6, #secondinp7, #secondinp8, #secondinp9, #secondinp10, #secondinp11{
    background-color: rgb(24, 24, 24);
    border: none;
    position: relative;
    user-select: none;
    outline: none;

}

#secondinp1{
    top: 8px;
    left: 15px;
    width: 200px;
    color: white;
    z-index: 1000;
}

#secondinp2, #secondinp4, #secondinp6, #secondinp8, #secondinp10{
    top: 2px;
    left: 140px;
    text-align: right;
    color: rgb(163, 163, 163);
    background-color: rgb(24, 24, 24);
}

#secondinp3, #secondinp5, #secondinp7, #secondinp9, #secondinp11{
    color: white;
    top: 6px;
    left: 57px;
    text-align: right;
    font-size: 20px;
    background-color: rgb(24, 24, 24);
}

.secondfb, .secondsb, .secondtb{
    margin-top: 22px;
    border-radius: 5px;
    width: 314px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(24, 24, 24);
    position: relative;
    top: 3px;
    height: 60px;
    display: none;
}

.secondfb:hover {
    background-color: rgb(55, 55, 55);
}

.secondfb:hover #secondinp2{
    background-color: rgb(55, 55, 55);
}

.secondfb:hover #secondinp3{
    background-color: rgb(55, 55, 55);
}

.secondsb:hover {
    background-color: rgb(55, 55, 55);
}

.secondsb:hover #secondinp4{
    background-color: rgb(55, 55, 55);
}

.secondsb:hover #secondinp5{
    background-color: rgb(55, 55, 55);
}

.secondtb:hover {
    background-color: rgb(55, 55, 55);
}

.secondtb:hover #secondinp6{
    background-color: rgb(55, 55, 55);
}

.secondtb:hover #secondinp7{
    background-color: rgb(55, 55, 55);
}

#secondlimpar{
    background-color: rgb(24, 24, 24);
    position: absolute;
    top: 290px;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 265px;
    display: none;
}

#secondlimpar1{
    height: 30px;
    width: 30px;
    border: none;
    background-color: rgb(24, 24, 24);
    z-index: auto;
    color: white;
    font-size: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondlimpar1:hover{
    background-color: rgb(51, 51, 51);
}
*/
